
@page "/clients"
@using SaasClientsPaymentTracker.Models
@inject HttpClient Http;

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Total Paid</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (clients.TotalCount == 0)
        {
            <tr>
                <td colspan="6" class="text-center">No payments yet.</td>
            </tr>
        }
        else
        {
            @foreach (var client in clients.Data)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Name</td>
                    <td>@client.Email</td>
                    <td>@client.TotalPaid</td>
                    <td>
                        <NavLink class="btn btn-sm btn-info" href="@($"/clients/{client.Id}")">Details</NavLink>
                    </td>
                </tr>
            }            
        }
    </tbody>
</table>

@code {
    [Parameter] public PagedResult<ReturnClientDto> clients { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        clients = await Http.GetFromJsonAsync<PagedResult<ReturnClientDto>>("http://localhost:5100/api/clients");
        StateHasChanged();
    }
}
